$color-primary: #ff1e1e;
$color-dark-primary: #212121;
$color-dark-secondary: #3b3b3b;
$color-white: #eeeeee;
$color-background: #121212;

$padding-large: 8rem;
$padding-all: 10rem 8rem 0 8rem;

$font-header: 3rem;
