@import "../../sass/variables.scss";

.list {
  padding-top: 6rem;
  background-color: $color-background;
  &__header {
    text-transform: capitalize;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #535353;
  }
}

.list-item {
  display: inline-block;
  padding: 2rem;
  line-height: 2.4rem;

  & > a {
    text-decoration: none;
    transition: transform 0.2s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  &__img {
    height: 18rem;
    width: 14rem;
  }

  &__video {
    outline: none;
    border: none;
    margin-right: 2rem;
  }

  &__name {
    padding-top: 1rem;
    color: $color-white;

    &__sub {
      color: #888888;
    }
  }
}

///////////////////////////////////////////////////////////////////
//react-slick arrows

.slick-prev {
  top: -3.5rem !important;
  right: 6rem !important;
  left: auto !important;

  &::before {
    content: none !important;
  }
}
.slick-next {
  top: -3.5rem !important;
  right: 0rem !important;
  &::before {
    content: none !important;
  }
}
