@import "../../sass/variables";
@import "../../sass/mixin";

.hero {
  width: 100%;
  height: 100vh;
  line-height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: $color-white;
  }
  &__info {
    position: relative;
    padding: 0 8rem;
    display: flex;
    flex-direction: row;
    @include respond(phone) {
      padding: 0 4rem;
      flex-direction: column;
    }

    &__img {
      width: 20rem;
      height: 30rem;
      border-radius: 2px;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__text {
      padding-left: 2rem;
      width: 70rem;
      position: relative;

      @include respond(phone) {
        padding-left: 0;
        width: auto;
      }

      &__header {
        text-transform: capitalize;
      }

      &__rating {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
      }

      &__language {
      }
      &__adult {
      }

      &__date {
      }
      &__type {
        text-transform: capitalize;

        & > * {
          padding-right: 1rem;
          color: #888888;
        }

        &__adult {
          border: 1px solid #888888;
          border-radius: 4px;
          padding: 0.5rem;
          margin-right: 1rem;
        }
      }

      &__summary {
        color: #ddd;
        padding-bottom: 1rem;
        position: relative;
        width: 60rem;

        @include respond(phone) {
          width: auto;
        }
      }
      &__action-btns {
        display: flex;
        flex-direction: row;

        & > * {
          padding: 1rem;
          font-size: 1.4rem;
          position: relative;
          text-transform: capitalize;
          background: transparent;
          color: $color-white;
          border: 1px solid $color-white;
          border-radius: 4px;
          cursor: pointer;
          &:active,
          &:focus {
            outline: none;
          }
        }

        &__favorite {
          margin-right: 1rem;
        }
        &__watch-later {
          margin-left: 1rem;
        }
      }
    }
  }
}
