.hero {
  width: 100%;
  height: 100vh;
  line-height: 3.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  &__info {
    position: relative;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    &__img {
      width: 20rem;
      height: 30rem;
      border-radius: 2px;
    }
    &__text {
      padding-left: 2rem;
      width: 56rem;
      position: relative;

      &__header {
        text-transform: capitalize;
      }

      &__rating {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
      }

      &__language {
      }
      &__adult {
      }

      &__date {
      }
      &__type {
        text-transform: capitalize;

        & > * {
          padding-right: 1rem;
          color: #888888;
        }

        &__adult {
          border: 1px solid #888888;
          border-radius: 4px;
          padding: 0.5rem;
          margin-right: 1rem;
        }
      }

      &__summary {
        color: #ddd;
        padding-bottom: 1rem;
        position: relative;
      }
      &__action-btns {
        display: flex;
        flex-direction: row;

        & > * {
          padding: 1rem;
          font-size: 1.4rem;
          position: relative;
          text-transform: capitalize;
          background: transparent;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 4px;
          cursor: pointer;

          &:active,
          &:focus {
            outline: none;
          }
        }

        &__favorite {
          margin-right: 1rem;
        }
        &__watch-later {
          margin-left: 1rem;
        }
      }
    }
  }
}
