@import "../../sass/variables";
@import "../../sass/mixin";

.search-results {
  padding: $padding-all;

  @include respond(phone) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__header {
    font-size: $font-header;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__list {
    &:last-child {
      padding-bottom: $padding-large;
    }
  }
}
