@import "../../sass/variables.scss";

.search-results {
  padding: $padding-all;

  &__header {
    font-size: $font-header;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__list {
    &:last-child {
      padding-bottom: $padding-large;
    }
  }
}
