.profile-btn {
  position: absolute;
  right: 8rem;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    right: 8rem;
    border: 1px solid rgba(255, 255, 255, 0.5);

    &__favorite,
    &__watch,
    &__logout {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      width: 100%;
      background: #353535;
      color: #fff;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;
      &:focus,
      &:active {
        outline: none;
      }

      &:hover {
        background: #3a3a3a;
      }
    }

    &__logout {
      border-bottom: none;
      background: #212121;
    }
  }
}

.login {
  color: #fff;
  text-decoration: none;
}
