@import "../../../sass/variables";
@import "../../../sass/mixin";

.profile {
  display: flex;
  flex-direction: column;

  .profile-btn {
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;

    @include respond(phone) {
      // right: 4rem;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 10rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 7rem;
      right: 4rem;
      width: 14rem;
      margin-right: 4rem;
      border: 1px solid rgba(#fff, 0.5);

      @include respond(phone) {
        width: 15rem;
        right: 0rem;
      }

      &__favorite,
      &__watch,
      &__logout {
        font-size: 1.4rem;
        padding: 1rem 2rem;
        width: 100%;
        background: #353535;
        color: #fff;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s;
        &:focus,
        &:active {
          outline: none;
        }

        &:hover {
          background: #3a3a3a;
        }
      }

      &__logout {
        border-bottom: none;
        background: $color-dark-primary;
      }
    }
  }
}

.login {
  color: #fff;
  text-decoration: none;
}
