@import "../../sass/variables";
@import "../../sass/mixin";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 3rem;
  vertical-align: middle;
  padding: 3rem $padding-large;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 4000;
  transition: all 0.4s;

  @include respond(phone) {
    padding: 3rem 4rem;
  }

  &__left {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    & > * {
      padding-right: 3rem;
    }
    &__search {
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
    &__brand {
      a {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 2px;
        color: $color-primary;
      }
    }

    &__browse {
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $color-white;
        letter-spacing: 1px;
      }
    }
  }

  &__right {
    list-style: none;
    // width: 4rem;
    &__profile {
      // position: absolute;
    }
  }
}
