.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 3rem;
  vertical-align: middle;
  padding: 3rem 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 4000;
  transition: all 0.4s;

  &__left {
    display: flex;
    flex-direction: row;
    list-style: none;

    & > * {
      padding-right: 3rem;
    }

    &__brand {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 2px;
      color: #ff0000;
    }
  }

  &__right {
    list-style: none;
  }
}
