@import "../../sass/variables";
@import "../../sass/mixin";

.item-details {
  &__hero {
    position: relative;
  }

  &__lists {
    position: relative;
    padding: 0 $padding-large;
    @include respond(phone) {
      padding: 0 4rem;
    }
    &:last-child {
      padding-bottom: $padding-large;
    }
  }
}
