.user-list-item {
  display: inline-block;
  width: 16rem;
  height: 30rem;
  vertical-align: top;
  margin: 0 0 4rem 4rem;

  & a {
    text-decoration: none;
    color: #fff;
  }

  &__img {
    width: 16rem;
  }

  &__name {
    padding-top: 0.5rem;
  }
}
