.slick-dots {
  width: 40rem !important;
  bottom: 50% !important;
  right: -14rem;
  transform: rotate(90deg);
  li > button {
    width: 6px !important;
    height: 6px !important;
    border: 1px solid #fff !important;
    border-radius: 1rem;
  }
  &::before {
    width: 0 !important;
    height: 0 !important;
    content: "" !important;
  }
}

.home {
  position: relative;

  &__hero {
    position: relative;
  }

  &__lists {
    position: relative;
    padding: 0 8rem;
    &:last-child {
      padding-bottom: 8rem;
    }
  }
}
