.slick-dots {
  width: 40rem !important;
  bottom: 50% !important;
  right: -11rem;
  transform: rotate(90deg);
  li {
    height: 14px !important;
    width: 14px !important;
    border-radius: 100px;
    margin: 0 10px !important;
    button {
      width: 4px !important;
      height: 4px !important;
      border: 1px solid #fff !important;
      border-radius: 1rem;
      &::before {
        width: 0 !important;
        height: 0 !important;
        content: none !important;
      }
    }
  }
}

.slick-active > button {
  background: #fff !important;
}

.home {
  position: relative;

  &__hero {
    position: relative;
  }

  &__lists {
    position: relative;
    padding: 0 8rem;
    &:last-child {
      padding-bottom: 8rem;
    }
  }
}
