.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__box {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10rem;
    background: rgb(216, 216, 216);
    border-radius: 4px;
    & > * {
      font-size: 1.8rem;
      padding: 1.4rem;
      background: #ff0000;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    &__login {
    }

    &__guest {
    }
  }

  &__terms {
    position: absolute;
    bottom: 4rem;
    color: #d3d3d3;
  }
}
