@import "../../sass/variables";
@import "../../sass/mixin";

.nav {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > * {
    text-transform: uppercase;
    margin: 0 $padding-large;
    @include respond(phone) {
      margin: 0 4rem;
    }
    cursor: pointer;
  }
}

.nav-item {
  padding-bottom: 1rem;
  letter-spacing: 2px;
}
