.nav {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > * {
    text-transform: capitalize;
    cursor: pointer;
  }

  &__item {
    padding-bottom: 0.5rem;
    border-bottom: 0.5rem solid transparent;
    margin-right: 10rem;
  }
}
.border {
  border-bottom: 0.5rem solid #ff0000;
}
